name: tests
on:
  push:
    branches:
      - main
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
jobs:
  gradle-test:
    name: "Run tests on JVM with gradle"
    runs-on: ubuntu-latest
    services:
      db:
        image: postgres:17.6
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: aisu_test
          POSTGRES_USER: aisu
          POSTGRES_PASSWORD: 4ab4008b362142c391cc9e1ab98addc6b25f00f5
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        image: redis:8.2.0
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: 'gradle'
      - run: ./gradlew build -x test --no-daemon
      - run: ./gradlew migrateTestingDatabase --no-daemon
      - run: ./gradlew test --no-daemon
